/*
 * style.css
 */
.container, .container-fluid {
 padding-right: 15px;
 padding-left: 15px;
 /*background-color: #f9f9f9;*/
}
.row {
 margin-bottom: 20px;
}
.row2 {
   margin-top: 20px;
}

.background {
  background-color:  #f5f5f5;
}
/*[class*="col-"], */header, footer, aside, section, div[role="main"] {
 padding-top: 15px;
 padding-bottom: 15px;
 background-color: #f5f5f5;
 background-color: rgba(86,61,124,.15);
 border: 1px solid #ddd;
 border: 1px solid rgba(86,61,124,.2);
 text-align: center;
}
div[role="main"] {
 background-color: #fff;
}
div[role="main"], aside {
 height: 650px;
}

.info {
	width: 50%;
	margin-left: 25%;
}
