{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
	<div class="row" style="margin-top: 5%">

		<div class="col-sm-4">
			<h3>Objetivo do Projeto</h3>
			<div class="well">
				<p class="sobre">

					O S.A.H.M (Sistema de Agendamento de Horários de Monitoria) é um projeto que tem como objetivo prestar serviços de agendamento e cadastro de horários de monitoria para os discentes
					da Universidade Federal do Piauí, mas precisamente do campus Senador Helvidio Nunes de Barros, através do cadastro de monitores, na qual os mesmos cadastram os seus horários para atendimento
					aos discentes da sua matéria, na qual é monitor. Sendo que essas informações posteriormente serão visualizadas pela comunidade acadêmica</p>
			</div>
		</div>

		<div class="col-sm-4">
			<h3>Nossa Missão</h3>
			<div class="well">
				<p class="sobre">
					A empresa tem como missão difundir e tornar ainda mais visível aos usuários e monitores as datas e horários de monitorias, a fim de servir como uma ferramenta de auxilio desta atividade acadêmica,
					através de uma plataforma de visualização de datas e horarios, que facilite o acesso à essas informações, tornado assim uma aplicação prática que gere sintonia entre monitores e discentes</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
