{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
	<div class="row" style="margin-top: 5%">

		<div class="col-sm-4">
			<h3>Objetivo da Empresa</h3>
			<div class="well">
				<p class="sobre">

					A Majuca Freelancer é uma empresa que tem como objetivo prestar serviços de intermédio entre empresas e freelancers
					focada principalmente no mercado de tecnologia da informação no Brasil, através do cadastro de projetos e na oferta de mão de obra independente. A empresa surgiu em 2017, após perceber um alto crescimento nesse tipo de serviço, sobretudo devido a crise financeira que ocorreu no Brasil nesse tempo e o acesso cada vez maior de empresas e pessoas a serviços onlines e também enxergando um potencial de mercado excelente na área de T.I.</p>
			</div>
		</div>

		<div class="col-sm-4">
			<h3>Nossa Missão</h3>
			<div class="well">
				<p class="sobre">
					A empresa tem como missão difundir e tornar ainda mais visível os usuários desta plataforma e as empresas, bem como servir como um mecanismo de troca de serviços , através de serviços prestados de forma responsável e comprometida
					com os nossos clientes e freelancers, buscando sempre o conforto dos mesmos e passar a imagem de uma empresa ética e comprometida com as leis e regras que tangem essa área.</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
