{% extends 'base.html' %}

{% block content %}
<h1 class="page-header"> Cadastre os Seus Dados</h1>

<form id="formCadCliente" data-toggle="validator" role="form" method="POST" action="{% url 'sahm:cadastrar_monitor' %}">{% csrf_token %}

  <div class="row">
    <div class="form-group col-md-8">
      <label for="id_nome" class="control-label">Nome:</label>
      <!--<input type="text" name="nome" placeholder="Informe o seu nome completo" id="id_nome" class="form-control" required/>-->
      {{form.nome}}
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group col-md-4">
      <label for="id_matricula" class="control-label">Matrícula:</label>
      <!--<input type="number" name="matricula" id="id_matricula" class="form-control" required/>-->
      {{form.matricula}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8">
      <label for="id_email" class="control-label">Email:</label>
      <!--<input type="email" name="email" id="id_email" class="form-control" data-error="Por favor, informe um e-mail correto." required/>-->
      {{form.email}}
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group col-md-4">
      <label for="id_fone" class="control-label">Telefone:</label>
      <!--<input type="number" name="telefone" id="id_fone" class="form-control" placeholder="DDD+Número" required/>-->
      {{form.telefone}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8">
        <label  for="id_curso" class="control-label">Curso:</label>
      <!--  <input type="text" name="curso" id="id_curso" class="form-control" required/>-->
        {{form.curso}}
        <div class="help-block with-errors"></div>
    </div>

    <div class="form-group col-md-4">
      <label for="id_nascimento" class="control-label">Data de Nascimento:</label>
      <!--<input type="date" name="nascimento" id="id_nascimento" class="form-control" required/>-->
      {{form.nascimento}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label for="id_senha" class="control-label">Senha:</label>
      <!--<input type="password" name="senha" id="id_senha" class="form-control" data-minlength="6" required/>-->
      {{form.senha}}
      <span class="help-block">Mínimo de seis (6) digitos</span>
    </div>

    <div class="form-group col-md-6">
      <label for="id_conf_senha" class="control-label">Confirme a Senha:</label>
      <input type="password" name="confirmaSenha" id="id_conf_senha" class="form-control" data-match="#id_senha" data-match-error="As senhas não conferem!." required/>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="row" id="actions">
    {% if data.senha == data.confirmaSenha %}
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    {% endif %}
    <a href="{% url 'sahm:login' %}" class="btn btn-default">Cancelar</a>
  </div>

</form>
{% endblock %}
