{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<img src="{% static 'Imagens/images.png' %}"  alt="Logo De Identificacao">
<h1 class="page-header">Informe Suas Credenciais</h1>

<form id="formLogin" data-toggle="validator" role="form" method="POST">{% csrf_token %}
  <div class="form-group">
    <label for="id_login" class="control-label">Email: </label>
    <input type="email" name="login" placeholder="Informe o seu email" id="id_login" class="form-control">
  </div>

  <div class="form-group">
    <label for="id_senha" class="control-label">Senha: </label>
    <input type="password" name="senha" id="id_senha" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Acessar</button>
</form>

<div class="row2">
  <a href="{% url 'sahm:cadastrar_monitor'%}">Não sou cadastrado</a>
</div>

{% endblock %}
