{% extends 'viewMonitor.html' %}

{% block content %}

<!--<div class="info">
  <h1 class="page-header">Alterar Cadastro do Monitor</h1>
</div>-->

<div class="row">
  <h3>Deseja alterar a sua senha?</h3>
  <a href="{% url 'sahm:update_password' %}">Alterar Senha</a>
</div>

<div class="row">
  <h3>Deseja alterar o seu email?</h3>
  <a href="{% url 'sahm:update_email' %}">Alterar Email</a>
</div>

<div class="row">
  <h3>Deseja excluir sua conta?</h3>
  <a href="{% url 'sahm:excluir_conta' %}" onclick="return confirm('Tem certeza que deseja excluir esta conta?')">Excluir Conta</a>
</div>

{% endblock %}
