{% extends 'viewMonitor.html' %}

{% block content %}


<form id="formUpdatePass" data-toggle="validator" role="form" method="POST" action="{% url 'sahm:update_password' %}">{% csrf_token %}

  <!--<div class="row">
    <div class="form-group col-md-4">
      <label class="control-label">Email antigo:</label>
      {{user.email}}
    </div>

    <div class="form_group col-md-4">
      <label for="email" class="control-label">Email novo:</label>
      {{form.email}}
    </div>
  </div>-

  <div class="row">
    <div class="form_group col-md-5">
      <label for="senha" class="control-label">Senha Atual:</label>
      <input type="password" name="senha_antiga" id="id_senha_atual" class="form-control" data-minlength="6" required/>
    </div>
  </div>

  <div class="row">

  </div>

  <div class="row">

    <div class="form_group col-md-5">
      <label for="id_senha" class="control-label">Nova Senha:</label>
      <input type="password" name="senha_atual" id="id_senha" class="form-control" data-minlength="6" required/>
    </div>

    <div class="form-group col-md-5">
      <label for="id_conf_senha" class="control-label">Confirme a Nova Senha:</label>
      <input type="password" name="confirmaSenha" id="id_conf_senha" class="form-control" data-match="#id_senha" data-match-error="As senhas não conferem!." required/>
      <div class="help-block with-errors"></div>
    </div>
  </div>-->

  {{form.as_p}}

  <div class="row" id="actions">
    <button type="submit" class="btn btn-primary">Atualizar</button>
    <a href="{% url 'sahm:dados_principal_monitor' %}" class="btn btn-default">Cancelar</a>
  </div>

</form>
{% endblock %}
