{% extends 'viewMonitor.html' %}

{% block content %}

<div class="info">
  <h2 class="page-header">Atualizar as Informações do Monitor</h2>
</div>

<!--<div class="info">
  <h1 class="page-header">Alterar Cadastro do Monitor</h1>
</div>-->

<form id="formCadCliente" data-toggle="validator" role="form" method="POST" action="{% url 'sahm:dados_cadastrais_monitor' %}">{% csrf_token %}

  <div class="row">
    <div class="form-group col-md-9">
      <label for="id_nome" class="control-label">Novo Nome:</label>
      <input type="text" name="nome" placeholder="Informe o seu nome completo" id="id_nome" class="form-control"/>
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      <label for="id_fone" class="control-label">Telefone:</label>
      <!--<input type="number" name="telefone" id="id_fone" class="form-control" placeholder="DDD+Número" required/>-->
      {{form_monitor.telefone}}
      <div class="help-block with-errors"></div>
    </div>

    <div class="form-group col-md-4">
      <label for="id_nascimento" class="control-label">Data de Nascimento:</label>
      <!--<input type="date" name="nascimento" id="id_nascimento" class="form-control" required/>-->
      {{form_monitor.nascimento}}
      <div class="help-block with-errors"></div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
        <label  for="id_curso" class="control-label">Curso:</label>
      <!--  <input type="text" name="curso" id="id_curso" class="form-control" required/>-->

          {% if user.monitor.curso == '1' %}
            <h4>CSHNB - ADMINISTRAÇÃO</h4>
          {% elif user.monitor.curso == '2' %}
            <h4>CSHNB - CIÊNCIAS BIOLÓGICAS</h4>
          {% elif user.monitor.curso == '3' %}
            <h4>CSHNB - ENFERMAGEM</h4>
          {% elif user.monitor.curso == '4' %}
            <h4>CSHNB - HISTÓRIA</h4>
          {% elif user.monitor.curso == '5' %}
            <h4>CSHNB - LETRAS</h4>
          {% elif user.monitor.curso == '6' %}
            <h4>CSHNB - MATEMÁTICA</h4>
          {% elif user.monitor.curso == '7' %}
            <h4>CSHNB - MEDICINA</h4>
          {% elif user.monitor.curso == '8' %}
            <h4>CSHNB - NUTRIÇÃO</h4>
          {% elif user.monitor.curso == '9' %}
            <h4>CSHNB - PEDAGOGIA</h4>
          {% elif user.monitor.curso == '10' %}
            <h4>CSHNB - SISTEMAS DE INFORMAÇÃO</h4>
          {% else %}
              {{form_monitor.curso}}
          {% endif%}

        <div class="help-block with-errors"></div>
    </div>

    <div class="form-group col-md-4">
      <label for="id_materia" class="control-label">Matéria</label>
      {{form_monitor.materia}}
    </div>
  </div>


{% if msg %}
  <h4>{{msg}}</h4>
{% else %}
  <div class="row" id="actions">
    <button type="submit" class="btn btn-primary">Alterar</button>
    <a href="{% url 'sahm:acesso_monitor' %}" class="btn btn-default">Cancelar</a>
  </div>
</form>
{% endif %}
{% endblock %}
